body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p {
  margin: 4px 0;
}

#root {
  background-color: rgb(255, 255, 255);
}

.main-container {
  font-size: 16px;
  width: 100%;
  position: relative;
  padding-top: 70px;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 70px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-list {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-list:hover {
  color: #f06131;
}

.nav-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  padding-right: 5px;
}

.nav-list:hover > .nav-icon > path {
  fill: #f06131 !important;
}

.active-nav-list {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f06131;
}

.active-nav-list > .nav-icon > path {
  fill: #f06131 !important;
}

.res-container {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.res-grid {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  max-width: 280px;
  transition: all 0.2s ease;
  cursor: pointer;
  flex: 1 0 21%;
  margin: 20px;
  text-decoration: none;
  color: inherit;
}

.res-card:hover {
  transform: scale(0.95);
}

.res-logo {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.res-details {
  margin: 8px 0;
}

.res-name {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ratings-time {
  display: flex;
  align-items: center;
}

.res-ratings {
  display: flex;
  align-items: center;
  padding-right: 2px;
  font-weight: 200;
}

.delivery-time {
  font-weight: 400;
}

.rating-star {
  width: 20px;
  height: 20px;
}

.res-ratings > img {
  width: 25px;
}

.res-cuisines {
  color: rgba(2, 6, 12, 0.6);
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 6px;
}

.res-location {
  color: rgba(2, 6, 12, 0.6);
  font-weight: 200;
}

.top-resturant-fltr {
  margin: 20px;
  padding: 10px 20px;
  background-color: #f06131;
  color: white;
  border-radius: 20px;
  border: 1px solid #f06131;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  max-width: 280px;
  flex: 1 0 21%;
  margin: 20px;
}

.shimmer-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.shimmer-title {
  width: 55%;
  background-color: #f0f0f0;
  color: #f0f0f0;
  margin: 8px 0;
}

.shimmer-caption {
  width: 60%;
  background-color: #f0f0f0;
  color: #f0f0f0;
}

.shimmer-caption1 {
  width: 80%;
  background-color: #f0f0f0;
  color: #f0f0f0;
  margin: 8px 0;
}

.shimmer-caption2 {
  width: 35%;
  background-color: #f0f0f0;
  color: #f0f0f0;
}

.shimmer-btn {
  margin: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #f0f0f0;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}

.filter-section {
  display: flex;
  align-items: center;
}

.search-grid {
  display: flex;
  border: 1px solid #cecdcd;
  padding: 4px 4px 4px 10px;
  border-radius: 20px;
  cursor: initial;
}

.search-input {
  border: none;
}

.search-input:focus {
  border: none;
  outline: none;
}

.search-icon {
  cursor: initial;
  width: 20px;
  height: 20px;
  object-fit: cover;
  padding-right: 5px;
}

.rest-detail-container {
  width: 50%;
  margin: 20px auto;
}

.rest-detail-container > .rest-name {
  font-size: 28px;
  margin: 0;
  padding: 20px 5px;
}

.rest-detail-popup-card {
  border: 1px solid rgba(2, 6, 12, 0.15);
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
}

.rest-detail-popup-card > .ratings-cost {
  display: flex;
  align-items: center;
}

.rest-menu-title {
  text-transform: uppercase;
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
}

.menu-section-heading {
  font-size: 18px;
  margin: 0;
}

.menu-sub-section-heading {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.menu-section-footer {
  height: 15px;
  background-color: #f0f0f0;
  margin-bottom: 15px;
}

.menu-item-card {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 30px 0;
  border-bottom: 1px solid #e6e5e5;
}

.menu-item-name {
  font-size: 18px;
  font-weight: 600;
}

.non-veg-icon {
  width: 20px;
  height: 20px;
}

.veg-icon {
  width: 20px;
  height: 20px;
}

.menu-item-description {
  margin: 8px 0;
}

.menu-item-price {
  margin-bottom: 8px;
}

.menu-item-price > .price {
  text-decoration: line-through;
  color: rgba(2, 6, 12, 0.45);
  padding-right: 4px;
}

.menu-item-review > .rating > .rating-star {
  width: 10px;
  height: 10px;
}

.menu-item-img {
  width: 155px;
  height: 145px;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 10px;
}

details {
  user-select: none;
  padding: 15px 0;
  border-bottom: 1px solid rgba(2, 6, 12, 0.1);
}

details > summary .collapse-arrow {
  width: 15px;
  height: 15px;
  margin-left: auto;
  transform: rotate(180deg);
}

details[open] summary .collapse-arrow {
  transform: rotate(360deg);
}

details[open] summary .menu-sub-section-heading {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(2, 6, 12, 0.1);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.price-tag {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.menu-item-review > .rating {
  font-size: 14px;
}

.menu-item-review > .rating-count {
  font-size: 14px;
  color: rgba(2, 6, 12, 0.6);
}

.shimmer-details-card {
  width: 100%;
}

.total-ratings span {
  font-size: 14px;
  margin-left: 2px;
  margin-right: 4px;
  color: rgba(2, 6, 12, 0.6);
}

.rest-detail-popup-card .ratings-cost {
  font-weight: 900;
}
.rest-detail-popup-card .ratings-cost .rating-star {
  margin-right: 4px;
  width: 25px;
  height: 25px;
}
