@import "tailwindcss";

@theme {
  --font-lucida: "Lucida Grande", sans-serif;
}

@layer components {
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-orange-600);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    cursor: pointer;
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-orange-500);
      }
    }
  }

  .transition-primary {
    transition: all 0.3s ease-in-out;
  }

  .menu-item[open] > summary > h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(2, 6, 12, 0.1);
  }
}
